@import url('./lib.css');

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Nav Styles */
header nav {
  width: 50%;
  margin: auto;
}

header nav ul li {
  padding: 10px;
}

/* Login and Register Styles */
#login,
#registro {
  width: 300px;
}

#login h3,
#registro h3 {
  font-size: 2em;
}

#login form input[type='submit'],
#registro form input[type='submit'] {
  margin-top: 15px;
  width: 100%;
}
