@import url('./lib.css');
main {
  height: 100vh;
}

main #auth,
main #features {
  height: 100%;
}

main #auth {
  display: flex;
  justify-content: center;
  align-items: center;
}

main #features {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

main #features > div,
main #features > section {
  width: 450px;
  padding: 5px;
}

main #features > div {
  margin-top: 80px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

main #features > section {
  margin-top: 20px;
}

/* Nav Styles */
header {
  position: absolute;
  background-color: darkcyan;
}
header nav {
  width: 50%;
  margin: auto;
}

header nav ul li {
  padding: 10px;
  color: #ffffff;
}

/* Login and Register Styles */
#login,
#registro {
  width: 300px;
}

#login h3,
#registro h3 {
  font-size: 2em;
}

/* Acount View Styles */

#cuenta h2,
#cuenta h2 strong {
  font-size: 1.2em;
}

/* Historial Style */
.historial-item {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  padding: 5px;
  margin: 2px 0;
}

.historial-item div:first-child {
  width: auto;
}
.historial-item div:last-child {
  text-align: right;
}

.historial-item div:last-child {
  text-align: right;
}
